<div class="prettyfire">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col" sortable="email" (sort)="onSort($event)">E-Mail</th>
      <th scope="col">Роль</th>
      <th scope="col">Номер филиала</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info" *ngFor="let user of refresh">
      <th scope="row">{{ user.id }}</th>
      <td>
        {{ user.email }}
      </td>
      <td>{{ user.role }}</td>
      <td>{{ user.filialID }}</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshUsers()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
      <option [ngValue]="5">На странице: 5</option>
      <option [ngValue]="10">На странице: 10</option>
      <option [ngValue]="25">На странице: 25</option>
    </select>
  </div>
</div>
