<div class="prettyfire">
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col" sortable="email" (sort)="onSort($event)">E-Mail</th>
      <th scope="col">Роль</th>
      <th scope="col">Номер филиала</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info" *ngFor="let user of refresh">
      <th class="btn-link" style="cursor: pointer" scope="row" (click)="openUser(user.id, content)">{{ user.id }}</th>
      <td>
        {{ user.email }}
      </td>
      <td>{{ user.role }}</td>
      <td>{{ user.filialID }}</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshUsers()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
      <option [ngValue]="5">На странице: 5</option>
      <option [ngValue]="10">На странице: 10</option>
      <option [ngValue]="25">На странице: 25</option>
    </select>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Карточка пользователя</h4>
    <button type="button" style="border-radius: .5rem" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="id" class="col-sm-3 col-form-label">ID пользователя</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="id" placeholder="ID пользователя" readonly value="{{openedUser.id}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email пользователя</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="email" placeholder="Email пользователя" readonly value="{{openedUser.email}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="col-sm-3 col-form-label">Роль пользователя</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="role" placeholder="Роль пользователя" readonly value="{{openedUser.role}}">
        </div>
      </div>
      <div class="form-group row">
        <label for="filialID" class="col-sm-3 col-form-label">Филиал пользователя</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="filialID" placeholder="Филиал пользователя" readonly value="{{openedUser.filialID}}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Закрыть</button>
  </div>
</ng-template>
