<div class="prettyfire">
  <div class="offset-11 mb-1">
    <button type="button" class="btn btn-info" (click)="openAdd(userAdd)">Добавить пользователя</button>
  </div>
  <table class="table table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
      <th scope="col" sortable="email" (sort)="onSort($event)">E-Mail</th>
      <th scope="col" sortable="role" (sort)="onSort($event)">Роль</th>
      <th scope="col" sortable="filialID" (sort)="onSort($event)">Номер филиала</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-info" *ngFor="let user of refresh">
      <th class="btn-link" style="cursor: pointer" scope="row" (click)="openUser(user.id, userM)">{{ user.id }}</th>
      <td>
        {{ user.email }}
      </td>
      <td>{{ user.role }}</td>
      <td class="btn-link" style="cursor: pointer" scope="row" (click)="openFilial(user.filialID, filialM)">{{ user.filialID }}</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                    (pageChange)="refreshUsers()">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
      <option [ngValue]="5">На странице: 5</option>
      <option [ngValue]="10">На странице: 10</option>
      <option [ngValue]="25">На странице: 25</option>
    </select>
  </div>
</div>

<ng-template #userM let-userModal>
  <div class="modal-header">
    <h4 class="modal-title">Карточка пользователя</h4>
    <button type="button" style="border-radius: .5rem" aria-label="Close" (click)="userModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm" (ngSubmit)="submitUserModal(); userModal.close()">
      <div class="form-group row">
        <label for="id" class="col-sm-3 col-form-label">ID пользователя</label>
        <div class="col-sm-9">
          <input formControlName="id" type="text" class="form-control" id="id" placeholder="ID пользователя" readonly
                 [ngModel]="openedUser.id">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email пользователя</label>
        <div class="col-sm-9">
          <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email пользователя"
                 [ngModel]="openedUser.email">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">Новый пароль</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" placeholder="Новый пароль"
                 formControlName="password">
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="col-sm-3 col-form-label">Роль пользователя</label>
        <div class="col-sm-9">
          <select formControlName="role" id="role" class="custom-select" style="width: auto"
                  [ngModel]="openedUser.role">
            <option [value]="'user'">User</option>
            <option [value]="'superuser'">Superuser</option>
            <option [value]="'admin'">Admin</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="filialID" class="col-sm-3 col-form-label">Филиал пользователя</label>
        <div class="col-sm-9">
          <select formControlName="filialID" id="filialID" class="custom-select" style="width: auto"
                  [ngModel]="openedUser.filialID">
            <option *ngFor="let fil of filials" [ngValue]="fil.id">{{fil.description}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="openDeleteModal(deleteWindow); userModal.close()">Удалить</button>
        <button type="submit" class="btn btn-outline-dark" [disabled]="userForm.invalid">Сохранить изменения</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #filialM let-filialModal>
  <div class="modal-header">
    <h4 class="modal-title">Карточка филиала</h4>
    <button type="button" style="border-radius: .5rem" aria-label="Close" (click)="filialModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="filialForm">
      <div class="form-group row">
        <label for="filial_id" class="col-sm-3 col-form-label">ID филиала</label>
        <div class="col-sm-9">
          <input formControlName="filial_id" type="text" class="form-control" id="filial_id" placeholder="ID филиала" readonly
                 [ngModel]="openedFilial.id">
        </div>
      </div>
      <div class="form-group row">
        <label for="filial_description" class="col-sm-3 col-form-label">Наименование филиала</label>
        <div class="col-sm-9">
          <textarea formControlName="filial_description" class="form-control" id="filial_description" placeholder="Наименование филиала"
                    [ngModel]="openedFilial.description" readonly>

          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="filial_address" class="col-sm-3 col-form-label">Адрес филиала</label>
        <div class="col-sm-9">
          <textarea formControlName="filial_address" class="form-control" id="filial_address" placeholder="Адрес филиала"
                    [ngModel]="openedFilial.address" readonly>
          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="filial_city" class="col-sm-3 col-form-label">Город филиала</label>
        <div class="col-sm-9">
          <textarea formControlName="filial_city" class="form-control" id="filial_city" placeholder="Город филиала"
                    [ngModel]="openedFilial.city" readonly>

          </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="filialModal.close()" [disabled]="filialForm.invalid">Закрыть карточку</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #userAdd let-userAddModal>
  <div class="modal-header">
    <h4 class="modal-title">Карточка пользователя</h4>
    <button type="button" style="border-radius: .5rem" aria-label="Close" (click)="userAddModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newUserForm" (ngSubmit)="addUserModal(); userAddModal.close()">
      <div class="form-group row">
        <label for="n_email" class="col-sm-3 col-form-label">Email пользователя</label>
        <div class="col-sm-9">
          <input formControlName="n_email" type="text" class="form-control" id="n_email" placeholder="Email пользователя">
        </div>
      </div>
      <div class="form-group row">
        <label for="n_password" class="col-sm-3 col-form-label">Пароль</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="n_password" placeholder="Пароль"
                 formControlName="n_password">
        </div>
      </div>
      <div class="form-group row">
        <label for="n_role" class="col-sm-3 col-form-label">Роль пользователя</label>
        <div class="col-sm-9">
          <select formControlName="n_role" id="n_role" class="custom-select" style="width: auto" [ngModel]="'user'">
            <option [ngValue]="'user'">User</option>
            <option [ngValue]="'superuser'">Superuser</option>
            <option [ngValue]="'admin'">Admin</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="n_filialID" class="col-sm-3 col-form-label">Филиал пользователя</label>
        <div class="col-sm-9">
          <select formControlName="n_filialID" id="n_filialID" class="custom-select" style="width: auto">
            <option *ngFor="let fil of filials" [ngValue]="fil.id">{{fil.description}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" [disabled]="newUserForm.invalid">Записать пользователя</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #deleteWindow let-deleteModal>
  <div class="modal-header">
    <h4 class="modal-title">Удалить пользователя?</h4>
    <button type="button" class="close" aria-label="Закрыть" (click)="deleteModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <p>Вы действительно хотите удалить эту запись?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="deleteUser(openedUser.id); deleteModal.close()">Удалить</button>
    <button type="button" class="btn btn-outline-dark" (click)="deleteModal.close()">Закрыть</button>
  </div>
</ng-template>
