.formdiv{
  border: blanchedalmond solid 1px;
  border-radius: .5rem;
  margin-top: 10%;
  padding: 10px;
  .validation{
    color: red;
  }
  .invalid{
    border: red solid .25px;
    border-radius: .5rem;
  }
  input{
    border-radius: .5rem;
  }
}
