<div class="d-flex">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="users">
      <a ngbNavLink>Пользователи</a>
      <ng-template ngbNavContent>
        <div>
          <p>Здесь будет информация о пользователях</p>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="filials">
      <a ngbNavLink>Филиалы</a>
      <ng-template ngbNavContent>
        <div>
          <p>Здесь будет информация о филиалах</p>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="doctors">
      <a ngbNavLink>Доктора</a>
      <ng-template ngbNavContent>
        <div>
          <p>Здесь будет информация о врачах</p>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="pacients">
      <a ngbNavLink>Пациенты</a>
      <ng-template ngbNavContent>
        <div>
          <p>Здесь будет информация о пациентах</p>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-6"></div>
</div>

