<div class="d-flex" *ngIf="this.auth.isAuthenticated()">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="user" (click)="loaddata()">
      <a ngbNavLink>Пользователи</a>
      <ng-template ngbNavContent>
        <div class="nav-content container-fluid">
          <app-users-table></app-users-table>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="filial" (click)="loaddata()">
      <a ngbNavLink>Филиалы</a>
      <ng-template ngbNavContent>
        <div class="nav-content container-fluid">
          <app-filials-table></app-filials-table>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="doctor" (click)="loaddata()">
      <a ngbNavLink>Доктора</a>
      <ng-template ngbNavContent>
        <div class="nav-content container-fluid">
          <app-doctors-table></app-doctors-table>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="pacient" (click)="loaddata()">
      <a ngbNavLink>Пациенты</a>
      <ng-template ngbNavContent>
        <div class="nav-content container-fluid">
          <p>Здесь будет информация о пациентах</p>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-6"></div>
</div>

