.d-flex {
  padding-top: 10px;
}
.nav-content {
  margin-left: 5px;
  width: 100rem;
  height: auto;
}

.active {
  background-color: #17a2b8 !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: #17a2b8;
  background-color: #17a2b8;
}
