<nav class="navbar">
  <h2>Панель администратора</h2>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:this.auth.isAuthenticated()}">На главную</a>
    </li>
    <li *ngIf="this.auth.isAuthenticated()" class="nav-item">
      <a [routerLink]="['/admin', 'dashboard']" class="nav-link" routerLinkActive="active">Dashboard</a>
    </li>
    <li *ngIf="this.auth.isAuthenticated()" class="nav-item">
      <a href="#" (click)="logout($event)" class="nav-link" routerLinkActive="active">Выйти</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

